In [5]:
import pandas as pd
file = "RAWDATA/Potable_Water.csv"
df_original = pd.read_csv(file)

In [57]:
potable_water['Country']

0           Australia
1           Australia
2           Australia
3           Australia
4             Austria
5             Belgium
6             Belgium
7             Belgium
8             Belgium
9             Belgium
10            Belgium
11            Belgium
12            Belgium
13            Belgium
14            Belgium
15            Belgium
16            Belgium
17            Belgium
18            Belgium
19            Belgium
20            Belgium
21            Belgium
22     Czech Republic
23     Czech Republic
24     Czech Republic
25     Czech Republic
26     Czech Republic
27     Czech Republic
28     Czech Republic
29     Czech Republic
            ...
216            Israel
217            Israel
218            Israel
219            Israel
220            Israel
221          Slovenia
222          Slovenia
223          Slovenia
224          Slovenia
225          Slovenia
226          Slovenia
227          Slovenia
228          Slovenia
229          Slovenia
230            France
231            France
232            France
233            France
234            France
235           Iceland
236       Switzerland
237       Switzerland
238    United Kingdom
239    United Kingdom
240    United Kingdom
241    United Kingdom
242    United Kingdom
243    United Kingdom
244    United Kingdom
245    United Kingdom
Name: Country, Length: 246, dtype: object

In [110]:
potable_water = df_original[["Country","Variable","Year","Unit","Value"]]
countries = ["Australia", "Austria", "Belgium", "Canada", "Chile", "Czech Republic", "Denmark", "Estonia", "Finland", "France", "Germany", "Greece", "Hungary", "Iceland", "Ireland", "Israel", "Italy", "Japan", "South Korea", "Latvia", "Lithuania", "Luxembourg", "Mexico", "Netherlands", "New Zealand", "Norway", "Poland", "Portugal", "Slovakia", "Slovenia", "Spain", "Sweden", "Switzerland", "Turkey", "United Kingdom", "United States"]
countries1 = pd.Series(countries)

potable_water.head()
countries1

0          Australia
1            Austria
2            Belgium
3             Canada
4              Chile
5     Czech Republic
6            Denmark
7            Estonia
8            Finland
9             France
10           Germany
11            Greece
12           Hungary
13           Iceland
14           Ireland
15            Israel
16             Italy
17             Japan
18       South Korea
19            Latvia
20         Lithuania
21        Luxembourg
22            Mexico
23       Netherlands
24       New Zealand
25            Norway
26            Poland
27          Portugal
28          Slovakia
29          Slovenia
30             Spain
31            Sweden
32       Switzerland
33            Turkey
34    United Kingdom
35     United States
dtype: object

In [111]:
idx = (potable_water["Country"] == "United Kingdom")
for country in countries:
    idx |= (potable_water["Country"] == country)
idx

0      True
1      True
2      True
3      True
4      True
5      True
6      True
7      True
8      True
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
       ...
216    True
217    True
218    True
219    True
220    True
221    True
222    True
223    True
224    True
225    True
226    True
227    True
228    True
229    True
230    True
231    True
232    True
233    True
234    True
235    True
236    True
237    True
238    True
239    True
240    True
241    True
242    True
243    True
244    True
245    True
Name: Country, Length: 246, dtype: bool

In [123]:
public_water = potable_water.loc[potable_water["Variable"] == "Public water supply",:]
public_water = potable_water.loc[idx]
public_water = public_water.loc[public_water["Value"] > 0,:]
public_water = public_water.reset_index(drop=True)

# public_water = potable_water.loc[(potable_water["Country"] == "United Kingdom") | (potable_water["Country"] == "Belgium")]

greywater = potable_water.loc[potable_water["Variable"] == "Total gross abstraction non-freshwater",:]
greywater = greywater.loc[idx]
greywater = greywater.loc[greywater["Value"] > 0,:]
greywater = greywater.reset_index(drop=True)

potable_water_amount = potable_water.loc[potable_water["Variable"] == "Total water made available for use",:]
potable_water_amount = potable_water_amount.loc[idx]
potable_water_amount = potable_water_amount.loc[potable_water_amount["Value"] > 0,:]
potable_water_amount = potable_water_amount.reset_index(drop=True)

public_water.to_csv('public_water.csv', header=True, index_label=True)
greywater.to_csv('greywater.csv', header=True, index_label=True)
potable_water_amount.to_csv('potable_water_amount.csv', header=True, index_label=True)

In [134]:
GROUP_pw = public_water.groupby(["Year","Country","Variable"]).mean()
df = pd.DataFrame(GROUP_pw)
df

                                                                   Value
Year Country        Variable
2005 Australia      Public water supply                     10331.400024
     Belgium        Public water supply                       720.000000
                    Total water made available for use       6361.000000
     Chile          Public water supply                       934.690002
     Czech Republic Public water supply                       532.000000
     Denmark        Public water supply                       421.000000
     Estonia        Total gross abstraction non-freshwater      6.000000
     Greece         Public water supply                       644.000000
     Hungary        Public water supply                       513.000000
     Iceland        Public water supply                        67.000000
     Israel         Public water supply                      1961.000000
     Italy          Public water supply                      5369.170000
     Japan          Public water supply                     83427.000000
     Mexico         Public water supply                     10703.493510
     Netherlands    Public water supply                      1082.000000
                    Total gross abstraction non-freshwater   3470.000000
                    Total water made available for use      15022.000000
     Poland         Public water supply                      1587.000000
                    Total gross abstraction non-freshwater    316.000000
     Portugal       Public water supply                       549.000000
     Slovenia       Public water supply                       119.000000
     Spain          Public water supply                      3864.000000
                    Total gross abstraction non-freshwater    169.000000
                    Total water made available for use      29480.000000
     Sweden         Public water supply                       737.000000
                    Total gross abstraction non-freshwater  11832.000000
     Switzerland    Public water supply                      1004.000000
     United Kingdom Public water supply                      6230.000000
                    Total gross abstraction non-freshwater   8092.000000
     United States  Total gross abstraction non-freshwater  84299.130000
...                                                                  ...
2011 Spain          Total water made available for use      28200.000000
     Switzerland    Public water supply                       954.000000
     United Kingdom Public water supply                      4167.000000
                    Total gross abstraction non-freshwater   7893.000000
2012 Czech Republic Public water supply                       491.000000
     France         Total water made available for use      34859.000000
     Hungary        Public water supply                       452.000000
     Iceland        Total gross abstraction non-freshwater     48.000000
     Israel         Public water supply                      1902.000000
     Italy          Public water supply                      5232.230000
     Mexico         Public water supply                     11981.326927
     Netherlands    Public water supply                      1067.000000
                    Total gross abstraction non-freshwater   4258.000000
                    Total water made available for use      14992.000000
     Poland         Public water supply                      1539.000000
                    Total gross abstraction non-freshwater    309.000000
     Slovenia       Public water supply                       116.000000
     Spain          Public water supply                      3576.000000
                    Total gross abstraction non-freshwater    217.000000
                    Total water made available for use      28386.000000
     Switzerland    Public water supply                       721.000000
                    Total water made available for use       1983.000000
     Turkey         Public water supply                      3287.000000
     United Kingdom Total gross abstraction non-freshwater   8504.000000
2013 Czech Republic Public water supply                       478.000000
     Hungary        Public water supply                       437.000000
     Mexico         Public water supply                     11961.503648
     Poland         Public water supply                      1522.000000
                    Total gross abstraction non-freshwater    264.000000
     Slovenia       Public water supply                       108.000000

[214 rows x 1 columns]